<div ng-controller="LoginController as loginCtrl" ng-init="doAuthentication()" ng-class="responsiveClass">

    <!--  FULL CONTENT -->
    <div class="lp-widget-content">

        <!--  BODY CONTENT -->
        <div class="panel-body">

            <form ng-hide="authenticated" role="form" ng-submit="doLogin()" novalidate="novalidate">
                <div class="form-group">
                    <label class="sr-only" for="username">Username</label>
                    <input class="form-control input-sm" type="text" name="username" placeholder="Username"
                           ng-model="user.username" ng-required="true"
                           autofill="autofill" autocorrect="off" autocapitalize="off"/>
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <input class="form-control input-sm" type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true" autofill="autofill"/>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-sm btn-primary">Log in</button>
                </div>
            </form>

        </div>

    </div>

    <!--  WIDGET ALERTS -->
    <div class="alert alert-error" ng-show="error">
        <p><span>{{error}}</span></p>
    </div>

</div>

